
.l-section {
    &--bg-black {
        background-color: $secondary;
    }
    &-intro {
        padding-top: 356px;
        padding-bottom: 256px;
        background: url(../images/banner.png) no-repeat center center;
        background-size: cover;
    }
    &-about {
        color: $secondary;
        &__text {
            &--border-top {
                border-top: 1px solid $secondary;
            }
        }
    }
    &-brand {
        padding-bottom: 160px;
    }
    &-work {
        background: url(../images/photo-1561291386-5be50364cfb5.png) no-repeat center center;
        background-size: cover;
        // padding-top: 64px;
        padding-bottom: 162px;
    }
    &-footer {
        // padding-top: 64px;
        padding-bottom: 80px;
    }
}
